################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/WpfMVVM/v16
/WpfMVVM/bin/Debug
/WpfMVVM/obj/Debug
